<div class="font-semibold font-title">
     MS Teams Backend 
</div>

<div id="logs" class="logContainer" style="overflow-x: hidden; overflow-y: scroll;">
</div>

@section Scripts {
    <script src="~/scripts/jwt-decode.js" type="module"></script>
    <script src="~/scripts/ssoTeamsApp.js" type="module"></script>
}